body {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.26);
}
.jm {
background-image: url(../images/default_banner.png);
}

.mainimg {
    max-width: 70vh;
}

.im {
    font-size: 25px;
    font-weight: 600;
}

.button {
    display: inline-block;
    padding: 12px 30px;
    transition: all 0.2s;
    border: 2px solid white;
    border-radius: 1.5vh;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.288);
    font-weight: 600;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.288);
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.button:hover {
    border-radius: 2.5vh;
}