body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: var(--bg);
}
.jm {
background-image: url(../images/default_banner.png);
}

.mainimg {
    max-width: 70vh;
}

.im {
    font-size: 25px;
    font-weight: 600;
}

.newbuttons {
    display: inline-block;
    padding: 12px 30px;
    transition: all 0.2s;
    border: 2px solid var(--buttonbor);
    border-radius: 1.5vh;
    text-decoration: none;
    color: var(--cardtex);
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.288);
    font-weight: 600;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.288);
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.newbuttons:hover {
    border-radius: 2.5vh;
}

.shad {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.26);
}

a:visited:not([href]),
a:hover:not([href]),
a:active:not([href]) {
    color: inherit;
}

img {
    vertical-align: middle;
    max-width: 100%;
    border: 0;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: calc(100% - 60px);
    display: block;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 95%;
    }
}

.card {
    padding: 2vh;
    background-color: var(--cards);
    color: var(--cardtex);
    border-radius: 1.5vh;
 }

 .lights {
     color: white;
 }

 .secondary {
     color: var(--secondarytext);
 }

 .secon-card {
    color: var(--cardsecondary);
 }
 
 .trans {
    background: var(--blurbg);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
 }